
<div class="jumbotron text-center mb-3" style="background:#C4302B; color:black">
    <h1 class="display-3">About</h1>
    <p class="lead"><i>"A lost idea is a lost opportunity"</i></p>
    <p class="lead">So, we have created this app so that you never loose that opportunity</p>
    <p class="lead">So JOT it before you LOOSE it</p>

</div>