<div class="jumbotron text-center" style="background:#C4302B; color:black">
    <h1 class="display-3">{{name}}</h1>
    <p class="lead"><i>"An idea is the key to innovation"</i></p>
    <p class="lead">Pour it out before its lost</p>

    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Your Idea</a>

</div>