
    <div class="row">
        <div class="jumbotron text-center float-left md-6" id="title-plates" style="background:#C4302B; color:black; width:40%">
            <h1 class="display-3">{{name}}</h1>
            <p class="lead"><i>"An idea is the key to innovation"</i></p>
            <p class="lead">Pour it out before its lost</p>

            <a href="/ideas/add" class="btn btn-dark btn-lg">Add Your Idea</a>

        </div>

        <div class="jumbotron text-center  ml-auto md-6" style="background:#C4302B; color:black; width:40%">
            <h1 class="display-3">Todos</h1>
            <p class="lead"><i>"A man without a vision,always, returns to its past"</i></p>
            <p class="lead">Stay On Course</p>
            <a href="/todos/add" class="btn btn-dark btn-lg">Add Your Todo</a>

        </div>
    </div>
